<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="depends,defects"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="PAdES PDF Library Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
